@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="padding-top: 50px;"> 
    <div class="col-md-4">
        <div class="control-group">
            <div>
                <label for="broadcast">Message</label>
                <input type="text" id="broadcast" name="broadcast" />
            </div>
            <button id="btn-broadcast">Broadcast</button>
        </div>
        <div class="control-group">
            <div>
                <label for="number-of-jobs">Number of Jobs</label>
                <input type="text" id="number-of-jobs" name="number-of-jobs" />
            </div>
            <button id="btn-trigger-stream">Trigger Server Stream</button>
        </div>
    </div>

    <div class="col-md-7">
        <p>SignalR Message:</p>
        <pre id="signalr-message-panel"></pre>
    </div>
</div>
